<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>

<div id="code-show-div">
    <button id="code-edit" type="button" onclick="editFunction()">编辑</button>
</div>
<div id="code-edit-div" style="display: none;">
    <button id="code-exit" type="button" onclick="exitFuntcion()">退出</button>
    <button id="code-exit" type="button">运行</button>
</div>
<pre id="real-code"><code>#include &lt;stdio.h>
int main() {
    printf("Hello, World!\n");
    return 0;
}
</code></pre>

<script>
    function editFunction() {
        document.getElementById("code-show-div").style.display = "none";
        document.getElementById("code-show-div").style.display = "block";
        document.getElementById("real-code").contentEditable = true;
    }
    function exitFuntcion() {
        document.getElementById("code-edit-div").style.display = "none";
        document.getElementById("code-show-div").style.display = "block";
        document.getElementById("real-code").contentEditable = false;
    }
    hljs.highlightAll();
</script>